<div class="graphPanel">
    <div class="graphArea">
        <div class="axisY" #axisY>
            <div class="Yvalue" [style.height]="(axisY.clientHeight/valuesY.length)+'px'" *ngFor="let y of valuesY">
                {{y | roundNumber}}
            </div>
        </div>
        <div class="axisX" #axisX>
            <div class="Xvalue" [style.width]="(axisX.clientWidth/report.length)+'px'" *ngFor="let x of report; let i = index">
                <app-bar *ngIf="type=='bar'" [maxHeight]="axisY.clientHeight/maxValue" [values]="x"></app-bar>
                <app-line *ngIf="type=='line'" [maxHeight]="axisY.clientHeight/maxValue" [width]="(axisX.clientWidth/report.length)" [values]="x" [nextValues]="report[i+1]"></app-line>
            </div>
    </div>  
</div>