<!-- Local Selector -->
<select [(ngModel)]="selectedColumn" (ngModelChange)="this.changeColumn()">
    <option *ngFor="let value of header" [value]="value[1]"> {{value[0]}}</option>
</select>
<div class="chartContainer">
    <div class="pieChart" [style.background]="styleBackground"></div>

    <div class="legenda">
        <div class="entry" *ngFor="let entry of reportBest5;let i = index">
            <div class="entryColor" [style.backgroundColor]="colourList[i]"></div>
            <div class="entryText">{{entry&&entry[0]}}</div>
        </div>
    </div>
</div>