$height: 500px;
$axisYWidth: 50px;
.graphPanel{
    margin-bottom: 20px;
    margin-top: 20px;
    .graphArea{
        height: $height;
        width: 100%;
        position: relative;
        .axisY{
            width : $axisYWidth;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            border-right: solid 1px black;
            text-align: right;
            .Yvalue{
                padding-right: 4px;
            }
        }
        .axisX{
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: solid 1px black;
            margin-left: $axisYWidth;
            display: flex;
            .Xvalue{
                text-align: center;
                position: relative;
            }
        }
    }
}